{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="/css/session.css" rel="stylesheet" />
{% endblock %}
{% block title %}Session in progress...{% endblock %}
{% block body %}
<div>
  {{code}}
</div>



{% endblock %}