{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="/css/session.css" rel="stylesheet" />
{% endblock %}
{% block title %}Session in progress...{% endblock %}
{% block body %}
<div class="code-box">
  {{code}}
</div>
<div class="information">
  Fuer Teilnehmer eroeffnet!
  <br>
  Status: {{status}}
</div>
<br>
<a href="/session/{{code}}/next" class="next-step-btn">
  Next step
</a>
<div class="member-count">
  <span id="s-mem-count"></span>
</div>
{% endblock %}

{% block js %}
<script>
  let timeoutHandle = undefined;
  let memCountSpan = undefined;

  async function getActiveMembers() {
    const response = await $.ajax('/session/members/{{sessionId}}', {method: 'GET'});
    return response.sessionMembers;
  };

  async function memberCountCallback() {
    const members = await getActiveMembers();
    memCountSpan.textContent = `Teilnehmer: ${members}`;
    timeoutHandle = setTimeout( memberCountCallback, 5000 );
  };

  window.onload = function () {
    memCountSpan = document.getElementById('s-mem-count');
    memCountSpan.textContent = 'Teilnehmer: ...';
    memberCountCallback();
  };

  window.onbeforeunload = function () {
    if (timeoutHandle) clearTimeout(timeoutHandle);
  }
</script>
{% endblock %}