.courseSelectionContainer, .courseOverviewContainer {
    margin: 20px;
}

.pageTitle {
    font-size: 24px;
    margin: 10px 0;
}

#courseName {
    padding: 4px;
}

.btnContainer {
    margin: 10px 0 5px;
}

.courseList, .questionList {
    border: 1px solid #cfcfcf;
}

.course, .question {
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
}

.questionList .questionLabels {
    display: flex;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #cfcfcf;
}

.questionList .questionLabels .questionLabel-l {
    flex: 70;
}

.questionList .questionLabels .questionLabel-r {
    flex: 30;
}

.question {
    display: flex;
    justify-content: space-between;
}

.question input {
    padding: 5px;
}

.question .questionSortOrder {
    width: 6%;
    padding-right: 0;
}

.question .question-l {
    flex: 70;
    margin-left: 5px;
}

.question .question-r {
    flex: 30;
    display: flex;
}

.question .actionButtons {
    margin-left: 5px;
}

.question .actionButtons button {
    height: 100%;
}

.questionContents {
    width: 98%;
}

.inline{
    display: inline;
}

.course:last-child, .question:last-child {
    border-bottom: 0;
}

.titleContainer {
    width: 100%;
}

.linkBtn {
    border-radius: 2px;
    padding: 3px 6px;
    background-color: #438ea5;
    border: 1px solid #cfcfcf;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.btn {
    border-radius: 2px;
    padding: 4px 6px;
    background-color: #438ea5;
    border: 1px solid #cfcfcf;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

button.greenBtn {
    background-color: #64bf8a;
}

button.redBtn {
    background-color: #b64738;
}
